<target {{ target.iqn | lower }}>
{%- for backingstore in target.backingstore.split(' ') %}
backing-store {{ backingstore }}
{%- endfor %}
{%- if target.initiatoraddress | length > 0 %}
{%- for initiator in target.initiatoraddress.split(' ') %}
{%- if initiator | length > 0 %}
{%- if initiator | is_ip %}
initiator-address {{ initiator }}
{%- else %}
initiator-name {{ initiator }}
{%- endif %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- if target.extraoptions | length > 0 %}
{{ target.extraoptions }}
{%- endif %}
</target>
