<target {{ target.iqn }}>
backing-store {{ target.backingstore }}
intiator-name {{ target.initiatoraddress }}
{%- if target.extraoptions | length > 0 %}
{{ target.extraoptions }}
{%- endif %}
</target>
