Source: openmediavault-tgt
Section: devel
XB-Plugin-Section: network
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 12 )
Standards-Version: 3.9.6

Package: openmediavault-tgt
Architecture: all
Depends: tgt,
         openmediavault (>= 6.0),
         openmediavault-sharerootfs,
         ${misc:Depends}
Description: OpenMediaVault tgt plugin
 Plugin to setup tgt iscsi targets.
