Source: openmediavault-tgt
Section: devel
XB-Plugin-Section: network
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper-compat (= 14), dh-sequence-single-binary
Standards-Version: 4.7.2

Package: openmediavault-tgt
Architecture: all
Depends: tgt,
         openmediavault (>= 7),
         openmediavault-sharerootfs,
         ${misc:Depends}
Description: OpenMediaVault tgt plugin
 Plugin to setup tgt iscsi targets.
